
<h2 mat-dialog-title>Apply Now</h2>

<!--mat-dialog-content>

<p> Place content here </p>
</mat-dialog-content-->

<form [formGroup]="applyJobForm" (ngSubmit)="applyNow(applyJobForm.value)">
  <div class="applyjob-container">

    <mat-form-field>
      <input matInput
                placeholder="First Name"
              formControlName="FirstName">
    </mat-form-field>

    <mat-form-field>
      <input matInput
              placeholder="Last Name"
            formControlName="LastName">
    </mat-form-field>
    <mat-form-field>
      <input matInput
            placeholder="Enter your Email"
          formControlName="Email">
    </mat-form-field>
    <mat-form-field>
      <input matInput
            placeholder="Phone Number"
          formControlName="PhoneNumber">
    </mat-form-field>
    <!--button mat-raised-button color="accent">Submit</button-->

  </div>
</form>
<mat-dialog-actions>
    <button class="mat-raised-button mat-primary" (click)="applyNow(applyJobForm.value)">Save</button>
    <button class="mat-raised-button" (click)="close()">Close</button>
</mat-dialog-actions>
<!--button  mat-raised-button color="accent" (click)="close()">Close</button-->







<!--mat-dialog-actions >
    <button class="mat-raised-button">Yes</button>
    <button class="mat-raised-button">No</button>
</mat-dialog-actions-->

<!--mat-dialog-actions *ngIf="!isDeleted">
    <button class="mat-raised-button" (click)="deleteRecord()">Yes</button>
    <button class="mat-raised-button" (click)="close()">No</button>
</mat-dialog-actions>

<mat-dialog-actions *ngIf="isDeleted">
    <button class="mat-raised-button" (click)="close()">Ok</button>
</mat-dialog-actions-->
